@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$fontStack: Raleway, Helvetica, Verdana, Arial, sans-serif;
$fontSize: calc(14px + (21 - 14) * (100vw - 412px) / (1920 - 412));

$textColor: hsl(0, 0%, 97%);
$backgroundColor: hsla(230, 29, 27, 1);